@model IEnumerable<CRDemo.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<body style="background:linear-gradient(to bottom, #ccccff 0%, #ffffff 100%)"></body>

<h2 style="font-family:'Futura Md BT'">Index</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("exportSupplier")" style="font-family:'Futura Md BT'">Reporting</a>
</p>
<table class="table table-bordered compact hover" style="font-family:'Futura Md BT'" id="datatables">
    <thead style="font-style:italic; font-family:'Futura Md BT';">
        <tr style="background-color:black; color:white">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th></th>*@
        </tr>
    </thead>

        @foreach (var supplier in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelSupplier => supplier.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelSupplier => supplier.Name)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = supplier.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = supplier.Id })
                </td>*@
            </tr>
        }
</table>

@section Scripts{
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jqueryval")
    }